<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<div class="header">
    <div class="top-menu">

    </div>
</div>
<div class="container-fluid">
<div class="row">

<div class="col-lg-3">
{% block left_block %}
{% endblock left_block %}
</div>

<div class="col-lg-6">
{% block content %}
{% endblock content %}
</div>

<div class="col-lg-3">
{% block right_block %}
{% endblock right_block %}
</div>

</div>
</div>
</body>
</html>